<%= form_with model: current_user do |form| %>

    <div class="mb-3">
    <%= form.label :office_hours_start, class: "form-label" %>
    <%= form.time_field :office_hours_start, class: "form-control" %>
    </div>

    <div class="mb-3">
    <%= form.label :office_hours_end, class: "form-label" %>
    <%= form.time_field :office_hours_end, class: "form-control" %>
    </div>

    <%= form.submit "Save changes", class: "btn btn-primary" %>
<% end %>