<!-- app/views/shared/_modal.html.erb -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Set Office Hours</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with model: current_user, url: office_hours_path(current_user), data: { turbo_frame: "modal-frame" } do |form| %>
          <div class="mb-3">
            <%= form.label :office_hours_start, class: "form-label" %>
            <%= form.time_field :office_hours_start, class: "form-control" %>
          </div>

          <div class="mb-3">
            <%= form.label :office_hours_end, class: "form-label" %>
            <%= form.time_field :office_hours_end, class: "form-control" %>
          </div>

          <%= form.submit "Save changes", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>