<div class="simple-calendar">
  <div class="calendar-heading">
    <%= link_to t('simple_calendar.previous', default: 'Previous'), calendar.url_for_previous_view %>
<span class="calendar-title"><%= t('date.month_names')[start_date.month] %> <%= start_date.year %></span>
    <%= link_to t('simple_calendar.next', default: 'Next'), calendar.url_for_next_view %>
  </div>
<div class="table-container">
  <table class="table">
    <thead class="sticky-top bg-light">
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th>
            <small>  <%= t('date.abbr_day_names')[day.wday] %><br> </small>
             <h5><%= day.day %> </h5>

          </th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% (0..23).each do |hour| %>
        <tr>
          <% date_range.each_slice(7) do |week| %>
            <% week.each do |day| %>
              <td class="week_calendar">
                <%= "#{hour}:00" %>
              </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>